.box {
    margin-top: 20px;
    width: 456px;
    border: solid 1px transparent;
    background-color: #ab9da3;
    border-radius: 14px;
  }
  
  .box > div {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 2px gray;
    margin: 5px;
    text-align: center;
    font: bold 24px/100px Tahoma,sans;
    border-radius: 14px;
    background-color: #d0c1ba;
    color:rgb(107, 107, 107);
  }

  li{
    list-style-type: none;
    margin: 2px;
    background-color: #ab9da3;
    border-radius: 5px;
  }

  ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    color:#eae5e5;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    letter-spacing: -0.4px;
    word-spacing: 2px;
    color: #f1efef;
    text-decoration: none;
   
  }

  .wrapper{
    width: 210px;
    display: flex;
    justify-content: space-around;
  }
.wrapper>li{
  display: flex;
  width: 70px;
  height: 55px;
  flex-direction: column;
  justify-content:space-around;
  padding: 2px 0px 2px 0px;
}
 
.min,.sec,.steps{
  color:white;
}

#timer{
  max-height: 100px;
  width: 210px;
  display: flex;
  align-items: center;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  background-color: #d2ccd2;
  padding: 10px;
  border-radius: 14px;
}

#top{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#top>h1{
  color:rgb(107, 107, 107);
  font-size: 70px;
  margin: 0px 0px 0px 40px;
}